@use "../global/variables" as*;
@use "../global/extend" as*;

.hero-container {
    background-color: #FAF9F6;
  
    .hero-text {
      color: $title-color;
  
      .hero-title {
        @extend %title-style; 
        text-align: center;
        font-size: 3.5rem;
      }
  
      .hero-paragraph {
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1.6;
        color: #555;
        text-align: justify;
      }
    }
}


.products-section{
    background-color: $secondary-bg;
    font-weight: bold;

    .products-title{
        font-size: 2.5rem;
        @extend %title-style; 
    }

}



