@use "../global/variables" as*;

main {
    .carousel {
      width: 300px;
      
      &-item {
        background-color: #adacb1;
        }
    }

    .products-margin{
     margin-bottom: 2rem;
    }
}

